// Custom styles
// 全局背景样式
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // color: $text-color;
  background-image:     
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), // 黑色半透明遮罩
  url('/images/chesed-lib.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
// 伪元素
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/chesed-lib.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; // 设置透明度，0-1之间，0.7表示70%不透明度
  z-index: -1; // 确保背景在内容后面
}

.myhome{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  margin-top: $spacing-unit;
  // background-color: rgba(0, 0, 0, 0.5); // 半透明黑色背景
}

// .post-content{
//   // background-color: rgba(0, 0, 0, 0.5); // 半透明黑色背景
// }

@media (max-width: 768px) {
  .myhome {
    background-attachment: scroll; /* 在移动设备上使用滚动而非固定背景 */
  }
}